<section class="about-me" id="about-me">
    <div class="container">
      <div class="about-me-container">
        <div class="about-me-title">
          Alireza
         </div>
  
        <div class="about-me-flex-container">
          <div class="about-me-image">
            <div class="back-div"></div>
            <div class="black-image"><img src="https://raw.githubusercontent.com/AlirezaNoor/Picture/master/balck.jpg" alt="black"></div>
            <div class="main-image"><img src="https://raw.githubusercontent.com/AlirezaNoor/Picture/master/photo_2023-07-12_20-46-19.jpg" alt="smit"></div>
          </div>
          <div class="about-me-content">
  
            <div class="logo"><img src="https://raw.githubusercontent.com/AlirezaNoor/Picture/master/Ang-designstyle-summer-m.png" alt="smit"></div>
  
            <div class="text">
hi! iam Alireza ,My nick name is ANG iam who love develop the programs a, iam .Net developer and also i try to learnig Angular and Node.js  
              <br><br>
  
      in this time i try introduce my salfe to Site visitors  </div>
          </div>
        </div>
  
        <div class="mail-button mail-button2">
          <a href="alirezang7575@gmail.com"><img src="https://raw.githubusercontent.com/Smit-Prajapati/prajapatismit/20391be8bf1ed24ef0e5da066bf68a5f6ee78fa1/images/mail.svg" alt="mail"></a>
        </div>
  
      </div>
  
    </div>
  </section>
  
  
  
  
  
  
  <br><br>
  <div class = "portfolio-link">
    <a href="https://smit-prajapati.github.io/prajapatismit/" target="_blank"> My Portfolio </a>
    <a href="https://dribbble.com/shots/18565056-Tommy-Hans-Personal-Portfolio-Landing-Page-Website?utm_source=Clipboard_Shot&utm_campaign=Adhiari_is&utm_content=Tommy%20Hans%20-%20Personal%20Portfolio%20Landing%20Page%20Website&utm_medium=Social_Share&utm_source=Clipboard_Shot&utm_campaign=Adhiari_is&utm_content=Tommy%20Hans%20-%20Personal%20Portfolio%20Landing%20Page%20Website&utm_medium=Social_Share" target="_blank"> UI Design by Tommy Hans </a>
  </div>