<h1>Skills</h1>
   <div class="skills-section">
    <div class="skills-header">
     <h1>Skills</h1>   
     </div>
     <div class="skills-container">
       
      <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"     alt="" class="skills-icons">
        </div>
         <h3>HTML 5</h3>
        </div>
       </div>
       
       
        <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/CSS.3.svg" alt="" class="skills-icons">
        </div>
        <h3>CSS3</h3>
        </div>
       </div>
       
       
        <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="https://icon-library.net/images/javascript-icon-png/javascript-icon-png-23.jpg" alt="" class="skills-icons">
        </div>
        <h3>JAVASCRIPT</h3>
        </div>
       </div>
       
          <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="http://pluspng.com/img-png/nodejs-logo-png-nice-images-collection-node-js-desktop-wallpapers-370.png" alt="" class="skills-icons">
        </div>
        <h3>NODE.JS</h3>
        </div>
       </div>
       
          <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png" alt="" class="skills-icons">
        </div>
        <h3>.Net</h3>
        </div>
       </div>
       
          <div class="skills-box">
       <div class="skills-title">
       <div class="skills-img">
        <img src="https://icons.veryicon.com/png/o/application/designer-icon/sql-5.png" alt="" class="skills-icons">
        </div>
        <h3>Sql-TSql</h3>
        </div>
       </div>
       
       <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--bTtl2toD--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://raw.githubusercontent.com/pereiren/dotnet-template-onion/master/images/logo.jpg" alt="" class="skills-icons">
         </div>
         <h3>onion architecture</h3>
         </div>
        </div>

        <div class="skills-box">
            <div class="skills-title">
            <div class="skills-img">
             <img src="https://images.squarespace-cdn.com/content/v1/5df7d8d44b9a7a49b2e475ac/1576527226630-U5RF6R7GVLFM3H4KSGHW/csharp5.png" alt="" class="skills-icons">
             </div>
             <h3>Unit test</h3>
             </div>
            </div>

            
        <div class="skills-box">
            <div class="skills-title">
            <div class="skills-img">
             <img src="https://git-scm.com/images/logos/downloads/Git-Icon-Black.png" alt="" class="skills-icons">
             </div>
             <h3>Git&Git Command</h3>
             </div>
            </div>
       </div>
    
     </div>
   
 