<div id="workexperience" class="sectionClass">
    <div class="row ">
      <div class="sectiontitle">
        <h2>Work experience</h2>
        <span class="headerLine"></span>
      </div>
      <div class="fullWidth eight columns">
        <ul class="cbp_tmtimeline">
          <li>
            <div class="cbp_tmicon cbp_tmicon-phone">
              <i class="faPra fa-briefcase"></i>
            </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
              <h3>web developer</h3>
              <div class="date">
                <i class="fa fa-calendar"></i>April 2023 - Current
              </div>
              <h4><i class="fa fa-flag"></i>sadr Company, Bratislava</h4>
              <p class="projectParagraph">at last i do my dream . developing in the sadr company .</p>
            </div>
          </li>
          <li>
            <div class="cbp_tmicon cbp_tmicon-screen">
              <i class="faPra fa-briefcase"></i>
            </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
              <h3>SystemGroup</h3>
              <h4><i class="fa fa-flag"></i>Systemgroup Company, Tehran</h4>
              <div class="date"><i class="fa fa-calendar"></i>June 2012 - April 2014</div>
              <p class="projectParagraph">I deploy  inventory and logestic application in systemGroup</p>
            </div>
          </li>
          <li>
            <div class="cbp_tmicon cbp_tmicon-screen">
              <i class="faPra fa-briefcase"></i>
            </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
              <h3>Web designer</h3>
              <h4><i class="fa fa-flag"></i>Nilloo Company, Rasht</h4>
              <div class="date"><i class="fa fa-calendar"></i>June 2019 - April 2019</div>
              <p class="projectParagraph">I work in nillo company .</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  